

 @media screen and (min-width: 768px) {

 }

 @media screen and (min-width: 1158px) {

 }



/* #region footer */

.page-footer {
    background-color: #2e2f42;
    margin-right: auto;
    width: 100%;
    padding: 100px 0;
}

.container.footer {
    max-width: 1158px;
    padding: 0;
    margin-right: auto;

    display: flex;

    align-items: baseline;
}

.thumb-footer-logo {
    margin-right: 120px;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo .logo-part {

    color: #f4f4fd;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

.footer-text.media {
    font-weight: 500;
    color: #fff;
    margin-bottom: 16px;
}

.footer-social-link {
    width: 100%;
    height: 100%;
    padding: 8px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-media-list {
    display: flex;    
    gap: 16px;
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31d0aa;
}


/* .thumb-footer-media {
    margin-right: 80px;

} */

.thumb-footer-subscribe {
    margin-left: auto;
}

.subscribe-form {
    display: flex;
    gap: 24px;
}

.subscribe-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.subscribe-field {
    color: #ffffff;
    width: 264px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    background-color: transparent;
    padding: 8px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-field::placeholder {
    color: #ffffff;
}

.subscribe-field:focus {
    border-color: #4d5ae5;
    outline: none;
    color: #000;
}

.subscribe-btn {
    border-radius: 4px;
    border: none;
    min-width: 165px;
    height: 40px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 8px 24px;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
    background-color: #404bbf;
}

.subscribe-icon {
    fill: #fff;
    margin-left: 16px;
}

/* #endregion footer */

/* #region main-popup */

.backdrop {
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    inset: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -100%);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    padding: 72px 24px 24px;
    overflow-y: auto;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    background-color: #e7e9fc;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover, .modal-close:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-notification {
    max-width: 360px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px; 
}

.main-form {
    border-radius: 4px;
    max-width: 360px;
    min-height: 336px;
    background-color: #fcfcfc;
}

.form-field-wrapper {
    margin-bottom: 8px; 
}

.label-field { 
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;  
}

.field-wrapper {
    position: relative;
}

.text-field {
    width: 100%;
    height: 40px;
    /* padding: 8px 16px; */
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    color: #2e2f42;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-field:focus, .comment-textarea:focus {
    border-color: #4D5AE5;
    outline: none;
}

.form-icons {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill:#2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-field:focus + .form-icons {
    fill: #4d5ae5;
}

.comment-textarea {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    resize: none;
    padding: 8px 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    background-color: transparent;
    color: rgba(46, 47, 66, 0.4);
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-textarea::placeholder {
    border-color: #4D5AE5;
    color: #8e8f99;
}

.form-field-wrapper.comment {
    margin-bottom: 16px;
}

.form-policy-wrapper {
    margin-bottom: 24px;
}

.custom-checkbox {
        width: 16px;
        height: 16px;
        background-color: transparent;
        border-radius: 2px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        margin-right: 8px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        fill: transparent;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-check:checked+.label-field>.custom-checkbox {
    fill: #f4f4fd;

    background-color: #404bbf;
    border: none;
}

.policy-link {
    text-decoration: underline;
    color: #4d5ae5;
}

.modal-btn {
    border-radius: 4px;
    border-color: transparent;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    border: none;
}

.modal-btn:hover, .modal-btn:focus {
    background-color: #404bbf;
}

/* #endregion main-popup */