
.hidden {
    display: none;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

h1,
h2,
h3 {
    text-transform: capitalize;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

section {
    padding-top: 96px;
    padding-bottom: 96px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

 /* #region common */

 .container {
     max-width: 320px;
     padding: 0 16px;
     margin: 0 auto;
 }

 @media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        width: 100%;
    }
 }

  @media screen and (min-width: 1158px) {
    .container {
    max-width: 1158px;
    padding: 0 15px;
    }

    section {
        padding-top: 120px;
        padding-bottom: 120px;
    }
  }

  /* #endregion common */

/* #region HEADER */

  .page-header {
      border-bottom: 1px solid #e7e9fc;
      box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
          0px 1px 1px rgba(46, 47, 66, 0.16),
          0px 1px 6px rgba(46, 47, 66, 0.08);
  }

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-list, .contacts {
    display: none;
  }

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;

}

.header-logo {
    padding: 16px 0;
    display: block;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.icon-burger {
    display: block;
    fill: #2f2f37;
}

 @media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }
    .header-nav {
        display: flex;
        align-items: center;
    }
    .nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .header-logo {
        padding: 24px 0;
        margin-right: 120px;
    }

    .nav-link::after {
        content: '';

        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: #404bbf;

        position: absolute;
        left: 0;
        bottom: -1px;

        opacity: 0;

        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link:hover::after,
    .nav-link:focus::after,
    .nav-link.current::after {
        opacity: 1;
    }

    .nav-link:hover,
    .nav-link:focus,
    .contacts-link:hover,
    .contacts-link:focus,
    .nav-link.current {
        color: #404bbf;
    }

    .contacts {
        font-style: normal;
        display: block;
    }

    .contacts-list {
        display: flex;
        flex-direction: column;
        gap: 12px;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .contacts-link {
        display: block;      
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
    }

    .nav-link {
        display: block;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        position: relative;
    }

 }

  @media screen and (min-width: 1158px) {
    .header-logo {
        margin-right: 76px;
    
    }
    .contacts-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }

    .contacts-link {
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
        
  }

  /* mobile-menu */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
            visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu:not(.is-open) .mobile-menu-container {
    transform: translate(-50%,-100%);
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
    height: 100%;
}

/* .mobile-menu-close = modal-close */
.modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    background-color: #e7e9fc;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav {
    margin-bottom: auto;
}

.mobile-nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-nav-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.mobile-nav-link:hover,
.mobile-nav-link:focus,
.mobile-contacts-link:hover,
.mobile-contacts-link:focus,
.mobile-nav-link.current, .mobile-contacts-link.current {
    color: #404bbf;
}

.mobile-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mobile-contacts-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.mobile-menu-social {
    padding-top: 48px;
}

.team-social-list {
    display: flex;
    justify-content: flex-start;
    gap: 40px;
}

.social-link {
    background-color: #4d5ae5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    height: 40px;
    border-radius: 50%;
    padding: 12px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-item .social-link:hover,
.social-link:focus,
.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}

.social-icon {
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

/* #endregion HEADER */

/* #region HERO-section */

.hero-page {
    max-width: 100%;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/people-office.jpg");
    margin: 0 auto;
    padding-top: 72px;
    padding-bottom: 72px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-title {
    max-width: 216px;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    text-transform: none;
    margin: 0 auto;

    margin-bottom: 72px;

    font-size: 36px;
    line-height: 1.11;
}

.order-button {

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

    min-width: 169px;
    display: block;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

 @media screen and (min-resolution: 192dpi) {
    .hero-page {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/people-office@2x.jpg");
    }
 }

 @media screen and (min-width: 768px) {
    .hero-page {
            padding-top: 112px;
            padding-bottom: 112px;
    }

    .hero-title {
        max-width: 496px;
        font-size: 56px;
        line-height: 1.07;

        margin-bottom: 48px;
    }
 }

 @media screen and (min-width: 1158px) {
    .hero-page {
        padding-top: 188px;
        padding-bottom: 188px;
    }
    
    .hero-title {
        margin-bottom: 36px;;
    }
 }

/* #endregion HERO-section */

/* #region FEATURES-section */

.features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    
    
}

.features-item {
    width: 100%;
}

.features-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;

    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;

    margin-bottom: 8px;
}

.features.thumb {
    display: none;
}

.features-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;   
    font-weight: 500;
}

 @media screen and (min-width: 768px) {
    .features-list {
        column-gap: 24px;
        row-gap: 72px;
    }
    
    .features-title {
        text-align: left;
    }

    .features-item {
        width: calc((100% - 24px) / 2);
    }

 }

 @media screen and (min-width: 1158px) {
    .features.thumb {
        border: 1px solid #8e8f99;
        border-radius: 4px;
        /* width: 264px; */
        height: 112px;
        background-color: #f4f4fd;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 8px;
    }

    .features-list {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }

    .features-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    .features-item {
        width: calc((100% - 72px) / 4);
    }

    .features-description {
        font-weight: 400;
    }

 }

/* #endregion FEATURES-section */

/* #region TEAM-section */


.team-page {
    background-color: #f4f4fd;

}

.container.team {
    padding: 0 28px;
}

.team-list {

    display: flex;
    justify-content: center;
    flex-direction: column;
    
    gap: 72px;

}

.team-item {
    max-width: 264px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.container.card-content {
    padding-top: 32px;
    padding-bottom: 32px;
}

.team-title {

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin: 0 auto 72px;
}

.team-name {

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-description {

    font-size: 16px;

    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}

.team-social-list {
    display: flex;

    justify-content: center;
    align-items: center;
    gap: 24px;

}

.social-link {
    background-color: #4d5ae5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    height: 40px;
    border-radius: 50%;
    padding: 12px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-item .social-link:hover,
.social-link:focus,
.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}

.social-icon {
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
    .team-list {
        flex-wrap: wrap;
        flex-direction: row;
        gap: 64px 24px;
    }
    .team-item {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {

    .team-list {   
        justify-content: space-between;
        align-items: flex-end;
    }

    .team-item {
        width: calc((100% - 72px) / 4);
        
        align-items: center;
        flex-direction: column;
    }
}

/* #endregion TEAM-section */

/* #region PORTFOLIO-section */

.container.card-content {
    padding: 32px 0;
    margin: 0 auto;
}

.portfolio-title {

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
    text-transform: capitalize;
}

.card-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 48px;
}

.card-item {
    background: #fff;
    border: 1px solid #e7e9fc;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
}

.portfolio.thumb {
    position: relative;
    overflow: hidden;
}

.thumb-card {
    background-color: #4d5ae5;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    font-weight: 400;
    font-size: 16px;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: auto;
}

.card-item:hover .thumb-card {
    transform: translateY(0);
    cursor: pointer;
}


.card-portfolio {

    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;

    padding: 32px 16px;

}

.card-title {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 8px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.card-text {

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {

    .card-list {
        flex-wrap: wrap;
        flex-direction: row;
        gap: 72px 24px;
    }

    .card-item {
        width: calc((100% - 24px) / 2);
    }

}

@media screen and (min-width: 1158px) {

    .card-list {
        flex-wrap: wrap;
        gap: 48px 24px;      
    }

    .card-item {
        flex-basis: calc((100% - 48px) / 3);
    }
}

/* #endregion PORTFOLIO-section */