/* #region common */

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    
}

section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


a {
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 24px;
}

h1, h2, h3 {
    text-transform: capitalize;
}
/* #endregion common */

/* #region header */

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    
}

.header-nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;   
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    
}

.header-logo {
    margin-right: 76px;
    
}

.header-logo .logo-part {
    color: #2e2f42;
}


.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    position: relative;
}

.nav-link::after {
    content: '';

    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    
    position: absolute;
    left: 0;
    bottom: -1px;

    opacity: 0;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover::after, .nav-link:focus::after, .nav-link.current::after {
    opacity: 1;
}

.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus, 
.contacts-link:hover,
.contacts-link:focus, .nav-link.current {
    color: #404bbf;
}

/* #endregion header */

/* #region hero-section */

.hero-page {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/people-office.jpg");
    margin: 0 auto;
    padding-top: 188px;
    padding-bottom: 188px;
    /* max-width: 1440px; */
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-title {
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    padding-bottom: 48px;
    text-transform: none;
    margin: 0 auto;
}

.hero-button {
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

    min-width: 169px;
    display: block;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* #endregion hero-section */

/* #region features-section */

.features-list {
    display: flex;
    gap: 24px;
}

.features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.features-item {
    width: calc((100% - 72px) / 4);
}

.features.thumb {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    /* width: 264px; */
    height: 112px;
    background-color: #f4f4fd;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

.features-description {
    
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* #endregion features-section */

/* #region team-section */

.team-page {
    background-color: #f4f4fd;

}

.team-list {
    
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 24px;
    
} 

.team-item {
    width: calc((100% - 72px) / 4);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.team-title {

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin: 0 auto 72px;
}

.team-name {

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-description {

    font-size: 16px;

    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}

.team-social-list {
    display: flex;
    
    justify-content: center;
    align-items: center;
    gap: 24px;
    
}

.social-link {
    background-color: #4d5ae5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    height: 40px;
    border-radius: 50%;
    padding: 12px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);   
}

.team-social-item .social-link:hover, .social-link:focus, .hero-button:hover, .hero-button:focus {
    background-color: #404bbf;
}

.social-icon {
    fill: #f4f4fd;
}
/* #endregion team-section */

/* #region portfolio-section */

.container.card-content { 
    padding: 32px 0;
    margin: 0 auto;
}

.portfolio-title {

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
    text-transform: capitalize;
}

.card-list {

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 48px 24px;
    flex-basis: calc((100% - 48px) / 3);

}

.card-item {

    background: #fff;
    border: 1px solid #e7e9fc;
    max-width: 360px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.portfolio.thumb {
    position: relative;
    overflow: hidden;
    
}

.thumb-card {
    background-color: #4d5ae5;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    font-weight: 400;
    font-size: 16px;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: auto;
}

.card-item:hover .thumb-card {
    transform: translateY(0);
    cursor: pointer;
}


.card-portfolio {

    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    max-width: 360px;
    padding: 32px 16px;

}

.card-title {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 8px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.card-text {
    
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* #endregion portfolio-section */

/* #region footer */

.page-footer {
    background-color: #2e2f42;
    margin-right: auto;
    width: 100%;
    padding: 100px 0;
}

.container.footer {
    max-width: 1158px;
    padding: 0;
    margin-right: auto;

    display: flex;

    align-items: baseline;
}

.thumb-footer-logo {
    margin-right: 120px;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo .logo-part {

    color: #f4f4fd;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

.footer-text.media {
    font-weight: 500;
    color: #fff;
    margin-bottom: 16px;
}

.footer-social-link {
    width: 100%;
    height: 100%;
    padding: 8px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-media-list {
    display: flex;    
    gap: 16px;
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31d0aa;
}


.thumb-footer-media {
    margin-right: 80px;
}

.subscribe-form {
    display: flex;
    gap: 24px;
}

.subscribe-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.subscribe-field {
    color: #ffffff;
    width: 264px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    background-color: transparent;
    padding: 8px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-field::placeholder {
    color: #ffffff;
}

.subscribe-field:focus {
    border-color: #4d5ae5;
    outline: none;
    color: #000;
}

.subscribe-btn {
    border-radius: 4px;
    border: none;
    min-width: 165px;
    height: 40px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 8px 24px;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
    background-color: #404bbf;
}

.subscribe-icon {
    fill: #fff;
    margin-left: 16px;
}

/* #endregion footer */

/* #region main-popup */

.backdrop {
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    inset: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

/* .backdrop:not(.is-open) .modal {
  transform: translate(-50%, -100%);
} */

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    padding: 72px 24px 24px;
    overflow-y: auto;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    background-color: #e7e9fc;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover, .modal-close:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-notification {
    max-width: 360px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px; 
}

.main-form {
    border-radius: 4px;
    max-width: 360px;
    min-height: 336px;
    background-color: #fcfcfc;
}

.form-field-wrapper {
    margin-bottom: 8px; 
}

.label-field { 
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;  
}

.field-wrapper {
    position: relative;
}

.text-field {
    width: 100%;
    height: 40px;
    /* padding: 8px 16px; */
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    color: #2e2f42;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-field:focus, .comment-textarea:focus {
    border-color: #4D5AE5;
    outline: none;
}

.form-icons {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill:#2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-field:focus + .form-icons {
    fill: #4d5ae5;
}

.comment-textarea {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    resize: none;
    padding: 8px 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    background-color: transparent;
    color: rgba(46, 47, 66, 0.4);
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-textarea::placeholder {
    border-color: #4D5AE5;
}

.form-field-wrapper.comment {
    margin-bottom: 16px;
}

.form-policy-wrapper {
    margin-bottom: 24px;
}

.custom-checkbox {
        width: 16px;
        height: 16px;
        background-color: transparent;
        border-radius: 2px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        margin-right: 8px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        fill: transparent;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-check:checked+.label-field>.custom-checkbox {
    background-color: #404bbf;
    fill: #f4f4fd;
    border: none;
}

.policy-link {
    text-decoration: underline;
    color: #4d5ae5;
}

.modal-btn {
    border-radius: 4px;
    border-color: transparent;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    border: none;
}

.modal-btn:hover, .modal-btn:focus {
    background-color: #404bbf;
}

/* #endregion main-popup */